@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
  --background-color: #212529;
  --main-color: #00b5cc;
  --second-color: #b2df27;
  --third-color: #4d7f34;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body{
  background-color: var(--background-color);
}

/* ---------------------------- HEADER ---------------------------- */
.title{
  text-align: center;
  color: var(--main-color);
  font-size: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title:hover{
  text-shadow: 0px 0px 3px var(--second-color);
}

/* ---------------------------- NAV ---------------------------- */

.navigate{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

p{
  margin: 0px;
}

.navigate .btn-pages{
  display: flex;
  gap: 10px;
}

.navigate .btn-pages button{
  background-color: #047f91;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.navigate .btn-pages button:hover{
  background-color: #04b4cb;
}

/* ---------------------------- ITEM CHARACTER ---------------------------- */

.card-character{
  text-align: center;
  padding: 30px;
}

.card-character h3{
  position: relative;
  white-space: nowrap;      
  overflow: hidden;          
  text-overflow: ellipsis;
}

.card-character h3::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  height: 2px;
  width: 100%;
}

.card-character h3:hover::before{
  background-color: var(--second-color);
}

.card-character h3,
.card-character p{
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-character .img-character{
  border-radius: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  transform: scale(1.01) perspective(100px);
  transition: all 0.3s ease;
}

.card-character .img-character:hover{
  transform: scale(1.05) perspective(2500px) rotateY(5deg);
}

.card-character button{
  color: var(--second-color);
  background-color: var(--third-color);
  padding: 5px;
  border: none;
  width: 100px;
  border-radius: 5px;
}

.card-character button:hover{
  color: var(--third-color);
  background-color: var(--second-color);
  transition: all 0.3s ease;
}

/* ---------------------------- CHARACTER DETAILS ---------------------------- */

.character-details{
  display: none;
}

.character-details.show{
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.35);
  padding: 30px;
  gap: 15px;
  z-index: 2;
}

.character-details.show .container-details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.character-details.show .container-details .container-img img{
  width: 85%;
  border-radius: 100%;
}

.character-details.show .container-details .container-info p:hover{
  color: var(--second-color);
}

/* ---------------------------- FOOTER ---------------------------- */

footer{
  background: #047f91;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-align: center;
}

.container-footer p{
  transition: all 0.5s ease-in-out;
}

.container-footer p:hover{
  color: #212529;
}


@media screen and (max-width: 990px){
  .card-character{
    padding: 20px;
  }

  .card-character .img-character{
    width: 85%;
  }

  .character-details.show .container-details{
    flex-direction: column;
  }

}

